<div class="address">
	<div class="address__container">
		<div class="container">
			<div class="address__content">
				<div class="address__box">
					<div class="titleComponent">
						<h1>Адреса точек</h1>
						
					</div>
					<div class="address__grid">
						<div class="item-address">
							<div class="item-address-row">
								<svg class="" viewBox="0 0 19 22">
									<use xlink:href="img/sprite.svg#icon-map"></use>
								</svg>
								<span>Ленина, 66</span>

							</div>
							<div class="text">
								<p>Доставка и самовывоз
									09:00&nbsp;—&nbsp;00:00</p>
								<p>Ресторан
									09:00&nbsp;—&nbsp;00:00</p>
							</div>
						</div>
						<div class="item-address">
							<div class="item-address-row">
								<svg class="" viewBox="0 0 19 22">
									<use xlink:href="img/sprite.svg#icon-map"></use>
								</svg>
								<span>8 марта, 21</span>

							</div>
							<div class="text">
								<p>Доставка и самовывоз
									09:00&nbsp;—&nbsp;00:00</p>
								<p>Ресторан
									09:00&nbsp;—&nbsp;00:00</p>
							</div>
						</div>
						<div class="item-address">
							<div class="item-address-row">
								<svg class="" viewBox="0 0 19 22">
									<use xlink:href="img/sprite.svg#icon-map"></use>
								</svg>
								<span>Московская, 15</span>

							</div>
							<div class="text">
								<p>Доставка и самовывоз
									09:00&nbsp;—&nbsp;00:00</p>
								<p>Ресторан
									09:00&nbsp;—&nbsp;00:00</p>
							</div>
						</div>
						<div class="item-address">
							<div class="item-address-row">
								<svg class="" viewBox="0 0 19 22">
									<use xlink:href="img/sprite.svg#icon-map"></use>
								</svg>
								<span>Ленина, 66</span>

							</div>
							<div class="text">
								<p>Доставка и самовывоз
									09:00&nbsp;—&nbsp;00:00</p>
								<p>Ресторан
									09:00&nbsp;—&nbsp;00:00</p>
							</div>
						</div>
						<div class="item-address">
							<div class="item-address-row">
								<svg class="" viewBox="0 0 19 22">
									<use xlink:href="img/sprite.svg#icon-map"></use>
								</svg>
								<span>8 марта, 21</span>

							</div>
							<div class="text">
								<p>Доставка и самовывоз
									09:00&nbsp;—&nbsp;00:00</p>
								<p>Ресторан
									09:00&nbsp;—&nbsp;00:00</p>
							</div>
						</div>
					</div>
				</div>
				<div class="address__map">
					<div class="titleComponent">
						Адреса на карте
					</div>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.214020126871!2d60.63861907720032!3d56.842272707554855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16c29abd8aaab%3A0x6a7f7f777422adf5!2z0L_RgNC-0YHQvy4g0JvQtdC90LjQvdCwLCA2Niwg0JXQutCw0YLQtdGA0LjQvdCx0YPRgNCzLCDQodCy0LXRgNC00LvQvtCy0YHQutCw0Y8g0L7QsdC7LiwgNjIwMDYy!5e0!3m2!1sru!2sru!4v1681967556784!5m2!1sru!2sru"
						 style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>