<div class="profile">
	<div class="profile__container">
		<div class="container">
			<div class="profile__menu--tablet">
				<div class="dropdownLink">

					<div class="dropdown">
						<div class="dropdown__select">
							<span class="dropdown__selected">Мои адреса</span>
							<div class="dropdown__caret"></div>
						</div>
						<ul class="list-reset dropdown__menu">
							<li class="dropdown__item"><a href="history.html">История заказов</a></li>
							<li class="dropdown__item active"><a href="adresses.html">Мои адреса</a></li>
							<li class="dropdown__item"><a href="profileData.html">Личные данные</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="titleComponent">
				<h1>Мои адреса</h1>
			</div>
			<div class="profile__content">
				<div class="profile__menu">
					<nav class="nav-menu">
						<ul>
							<li class="menu-item "><a href="history.html">История заказов</a></li>
							<li class="menu-item menu-item-active"><a href="adresses.html">Мои адреса</a></li>
							<li class="menu-item"><a href="profileData.html">Личные данные</a></li>
						</ul>
					</nav>
				</div>
				<div class="profile__main border-none">
					<div class="adresses">
						<ul>

							<li>
								<div class="checkboxDoneComponent">
									<div class="checkbox">
										<input id="dal1" class="checkbox__input" type="radio" name="done" checked>
										<label class="checkbox__label" for="dal1">
											<div class="inputComponent">
												<span class="inputComponent__text" type="text" value="Радищева 3, подъезд 3, кв 32, этаж 5"
													readonly>Радищева 3, подъезд 3, кв 32, этаж 5
												</span>
												<button class="btn-reset btn-icon btn-edit">
													<svg viewBox="0 0 17 18">
														<use xlink:href="img/sprite.svg#icon-edit"></use>
													</svg>
												</button>
												
												<button class="btn-reset btn-icon btn-delete"  data-graph-path="delete-address">
													<svg viewBox="0 0 15 16">
														<use xlink:href="img/sprite.svg#icon-delete"></use>
													</svg>
												</button>
											</div>
										</label>
									</div>
								</div>
							</li>
							<li>
								<div class="checkboxDoneComponent">
									<div class="checkbox">
										<input id="dal2" class="checkbox__input" type="radio" name="done">
										<label class="checkbox__label" for="dal2">
											<div class="inputComponent">
												<span class="inputComponent__text" type="text" value="Радищева 3, подъезд 3, кв 32, этаж 5"
													readonly>Радищева 3, подъезд 3, кв 32, этаж 5
												</span>
												<button class="btn-reset btn-icon btn-edit">
													<svg viewBox="0 0 17 18">
														<use xlink:href="img/sprite.svg#icon-edit"></use>
													</svg>
												</button>
												<button class="btn-reset btn-icon btn-delete"  data-graph-path="delete-address">
													<svg viewBox="0 0 15 16">
														<use xlink:href="img/sprite.svg#icon-delete"></use>
													</svg>
												</button>
											</div>
										</label>
									</div>
								</div>
							</li>
							<li>
								<div class="checkboxDoneComponent">
									<div class="checkbox">
										<input id="dal3" class="checkbox__input" type="radio" name="done">
										<label class="checkbox__label" for="dal3">
											<div class="inputComponent">
												<span class="inputComponent__text" type="text" value="Радищева 3, подъезд 3, кв 32, этаж 5"
													readonly>Радищева 3, подъезд 3, кв 32, этаж 5
												</span>
												<button class="btn-reset btn-icon btn-edit">
													<svg viewBox="0 0 17 18">
														<use xlink:href="img/sprite.svg#icon-edit"></use>
													</svg>
												</button>
												<button class="btn-reset btn-icon btn-delete"  data-graph-path="delete-address">
													<svg viewBox="0 0 15 16">
														<use xlink:href="img/sprite.svg#icon-delete"></use>
													</svg>
												</button>
											</div>
										</label>
									</div>
								</div>
							</li>
							<li class="li-add-address border-none display-none">
								<div class="addAddressComponent">
									<div class="inputComponent small">
										<input type="text" placeholder="Екатеринбург">
									</div>
									<div class="inputComponent small">
										<input type="text" placeholder="Укажите улицу">
									</div>
									<div class="inputComponent small">
										<input type="text" placeholder="Подъезд">
									</div>
									<div class="inputComponent small">
										<input type="text" placeholder="Код двери">
									</div>
									<div class="inputComponent small">
										<input type="text" placeholder="Этаж">
									</div>
									<div class="inputComponent small">
										<input type="text" placeholder="Квартира">
									</div>
									<div class="inputComponent small">
										<textarea type="text" placeholder="Комментарий к адресу"></textarea>
									</div>
									
								</div>
								<button class="buttonComponent active btn-adresses">
									Добавить
								</button>
							</li>
						</ul>
						<button class="btn-reset button button-add-address">
							<span>Добавить другой адрес</span>
							<svg viewBox="0 0 12 12">
								<use xlink:href="img/sprite.svg#icon-plus"></use>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>