<div class="cart">
	<div class="cart__container">

		<div class="cart__content">
			<div class="cart__buy">
				<div class="container">
					<ul>
						<li>
							<div class="item counter-container">
								<div class="item__delete">
									<button class="btn-reset btn-close" data-graph-path="delete-product">

									</button>
								</div>

								<div class="item__left">
									<div class="item__image">
										<img data-src="./img/image-83-1.jpg" class="image lozad loading" alt="">
									</div>
									<div class="item__title">
										Плескавица со свининой
									</div>
								</div>
								<div class="item__right">
									<div class="item__counter">
										<div class="counterComponent">
											<button class="btn-reset btn-counter minus btn-counter-minus">
												<i></i>
											</button>
											<div class="number counter-num">
												1
											</div>
											<button class="btn-reset btn-counter plus btn-counter-plus">
												<i></i>
											</button>
										</div>
									</div> 
									<div class="priceComponent counter-price">
										<span>1022</span><span>р</span>
									</div>
								</div>
							</div>
							<span class="line"></span>
						</li>

						<li>
							<div class="item counter-container">
								<div class="item__delete">
									<button class="btn-reset btn-close" data-graph-path="delete-product">

									</button>
								</div>

								<div class="item__left">
									<div class="item__image">
										<img data-src="./img/image-83-2.jpg" class="image lozad loading" alt="">
									</div>
									<div class="item__title">
										Плескавица со свининой
									</div>
								</div>
								<div class="item__right">
									<div class="item__counter">
										<div class="counterComponent">
											<button class="btn-reset btn-counter minus btn-counter-minus">
												<i></i>
											</button>
											<div class="number counter-num">
												1
											</div>
											<button class="btn-reset btn-counter plus btn-counter-plus">
												<i></i>
											</button>
										</div>
									</div> 
									<div class="priceComponent counter-price">
										<span>1022</span><span>р</span>
									</div>
								</div>
							</div>
							<span class="line"></span>
						</li>
					</ul>

					<div class="cart__buy--row">
						<div class="cart__buy--box">
							<div class="cart__buy--text">
								Сумма заказа:
							</div>
							<div class="cart__buy--price priceComponent">
								<span>1774</span><span>р</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cart__delivery">
				<div class="container">
					<div class="tabs tabs-delivery" data-tabs="tabs-delivery">
						<ul class="tabs__nav tabs__nav--custom">
							<li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset buttonComponent"
									type="button">Доставка</button></li>
							<li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset buttonComponent"
									type="button">Самовывоз</button></li>

						</ul>
						<div class="cart__delivery--box">
							<div class="tabs__content tabs__content--custom">
								<div class="tabs__panel tabs__panel--custom">
									<div class="deliveryComponent">
										<div class="adresses">
											<ul>
					
												<li>
													<div class="checkboxDoneComponent">
														<div class="checkbox">
															<input id="dal1" class="checkbox__input" type="radio" name="idm1" checked>
															<label class="checkbox__label" for="dal1">
																<div class="inputComponent">
																	<span class="inputComponent__text" type="text" value="Радищева 3, подъезд 3, кв 32, этаж 5"
																		readonly>Радищева 3, подъезд 3, кв 32, этаж 5
																	</span>
																	<button class="btn-reset btn-icon btn-edit">
																		<svg viewBox="0 0 17 18">
																			<use xlink:href="img/sprite.svg#icon-edit"></use>
																		</svg>
																	</button>
																	<button class="btn-reset btn-icon btn-delete"  data-graph-path="delete-address" >
																		<svg viewBox="0 0 15 16">
																			<use xlink:href="img/sprite.svg#icon-delete"></use>
																		</svg>
																	</button>
																</div>
															</label>
														</div>
													</div>
												</li>
												<li>
													<div class="checkboxDoneComponent">
														<div class="checkbox">
															<input id="dal2" class="checkbox__input" type="radio" name="idm1">
															<label class="checkbox__label" for="dal2">
																<div class="inputComponent">
																	<span class="inputComponent__text" type="text" value="Радищева 3, подъезд 3, кв 32, этаж 5"
																		readonly>Радищева 3, подъезд 3, кв 32, этаж 5
																	</span>
																	<button class="btn-reset btn-icon btn-edit">
																		<svg viewBox="0 0 17 18">
																			<use xlink:href="img/sprite.svg#icon-edit"></use>
																		</svg>
																	</button>
																	<button class="btn-reset btn-icon btn-delete"  data-graph-path="delete-address">
																		<svg viewBox="0 0 15 16">
																			<use xlink:href="img/sprite.svg#icon-delete"></use>
																		</svg>
																	</button>
																</div>
															</label>
														</div>
													</div>
												</li>
												<li>
													<div class="checkboxDoneComponent">
														<div class="checkbox">
															<input id="dal3" class="checkbox__input" type="radio" name="idm1">
															<label class="checkbox__label" for="dal3">
																<div class="inputComponent">
																	<span class="inputComponent__text" type="text" value="Радищева 3, подъезд 3, кв 32, этаж 5"
																		readonly>Радищева 3, подъезд 3, кв 32, этаж 5
																	</span>
																	<button class="btn-reset btn-icon btn-edit">
																		<svg viewBox="0 0 17 18">
																			<use xlink:href="img/sprite.svg#icon-edit"></use>
																		</svg>
																	</button>
																	<button class="btn-reset btn-icon btn-delete"  data-graph-path="delete-address">
																		<svg viewBox="0 0 15 16">
																			<use xlink:href="img/sprite.svg#icon-delete"></use>
																		</svg>
																	</button>
																</div>
															</label>
														</div>
													</div>
												</li>
												<li class="li-add-address border-none display-none">
													<div class="addAddressComponent">
														<div class="inputComponent small">
															<input type="text" placeholder="Екатеринбург">
														</div>
														<div class="inputComponent small">
															<input type="text" placeholder="Укажите улицу">
														</div>
														<div class="inputComponent small">
															<input type="text" placeholder="Подъезд">
														</div>
														<div class="inputComponent small">
															<input type="text" placeholder="Код двери">
														</div>
														<div class="inputComponent small">
															<input type="text" placeholder="Этаж">
														</div>
														<div class="inputComponent small">
															<input type="text" placeholder="Квартира">
														</div>
														<div class="inputComponent small">
															<textarea type="text" placeholder="Комментарий к адресу"></textarea>
														</div>
														
													</div>
													<button class="buttonComponent active btn-adresses">
														Добавить
													</button>
												</li>
					
											</ul>
											<button class="btn-reset button button-add-address">
												<span>Добавить другой адрес</span>
												<svg viewBox="0 0 12 12">
													<use xlink:href="img/sprite.svg#icon-plus"></use>
												</svg>
											</button>
										</div>
									</div>
								</div>
								<div class="tabs__panel tabs__panel--custom">
									<div class="pickupComponent">
										<div class="textComponent">
											Выберите адрес:
										</div>
										<div class="dropdownLink dropdownCity">

											<div class="dropdown">
												<div class="dropdown__select">
													<input class="dropdown__selected" placeholder="Екатеринбург"
														readonly></input>
													<div class="dropdown__caret"></div>
												</div>
												<ul class="list-reset dropdown__menu">
													<li class="dropdown__item active" value="Екатеринбург">Екатеринбург
													</li>
													<li class="dropdown__item" value="Абаза">Абаза</li>
													<li class="dropdown__item" value="Казань">Казань</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tabs tabs-way" data-tabs="tabs-way">
								<ul class="tabs__nav">
									<li class="tabs__nav-item">
										<button class="btn-reset tabs__nav-btn" type="button">
											<div class="checkboxComponent">
												<div class="checkbox">
													<input id="way1" class="checkbox__input" type="radio" name="way"
														checked>
													<label class="checkbox__label" for="way1">
														В ближайшее время
													</label>
												</div>
											</div>
										</button>
									</li>
									<li class="tabs__nav-item">
										<button class="btn-reset tabs__nav-btn" type="button">
											<div class="checkboxComponent">
												<div class="checkbox">
													<input id="way2" class="checkbox__input" type="radio" name="way">
													<label class="checkbox__label" for="way2">
														К определенному времени
													</label>
												</div>
											</div>
										</button>
									</li>

								</ul>
								<div class="tabs__content">
									<div class="tabs__panel">
										<div class="timeComponent">
											<span>Сможем доставить к</span>
											<span>14:45</span>
										</div>
									</div>
									<div class="tabs__panel">
										<div class="dropdownComponents">
											<div class="dropdownLink dropdownOrigin">

												<div class="dropdown">
													<div class="dropdown__select">
														<span class="dropdown__label">
															Дата
														</span>
														<input class="dropdown__selected" placeholder="Сегодня"
															readonly></input>
														<div class="dropdown__caret"></div>
													</div>
													<ul class="list-reset dropdown__menu">
														<li class="dropdown__item active" value="Сегодня">Сегодня</li>
														<li class="dropdown__item" value="Завтра">Завтра</li>
														<li class="dropdown__item" value="12.04.22">12.04.22</li>
													</ul>
												</div>
											</div>
											<div class="dropdownLink dropdownOrigin">

												<div class="dropdown">
													<div class="dropdown__select">
														<span class="dropdown__label">
															Время
														</span>
														<input class="dropdown__selected" placeholder="15:00"
															readonly></input>
														<div class="dropdown__caret"></div>
													</div>
													<ul class="list-reset dropdown__menu">
														<li class="dropdown__item active" value="15:00">15:00</li>
														<li class="dropdown__item" value="16:00">16:00</li>
														<li class="dropdown__item" value="17:00">17:00</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="cart__delivery--price">

								<div class="cart__delivery--cost">
									<div class="textComponent">
										Стоимость доставки:
									</div>
									<div class="priceComponent">
										<span>0</span>
										<span>р</span>
									</div>
								</div>
								<div class="cart__delivery--number">
									<div class="textComponent">
										Итого к оплате:
									</div>
									<div class="priceComponent">
										<span>1774</span>
										<span>р</span>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cart__payment">
				<div class="container">
					<div class="titleComponent">
						Выберите способ оплаты
					</div>
					<div class="cart__payment--box">
						<div class="cart__payment--row">
							<div class="item item--active">
								<div class="checkboxComponent">
									<div class="checkbox">
										<input id="c2" class="checkbox__input" type="radio" name="done" checked>
										<label class="checkbox__label" for="c2">
											Картой online
										</label>
									</div>
								</div>
								<div class="item__input">
									<label for="email1">E-mail*</label>
									<div class="inputComponent">
										<input id="email1" type="text" name="email" placeholder="Для отправки чека">
									</div>
								</div>

							</div>
							<div class="item">
								<div class="checkboxComponent">
									<div class="checkbox">
										<input id="c1" class="checkbox__input" type="radio" name="done">
										<label class="checkbox__label" for="c1">
											Наличными при получении
										</label>
									</div>
								</div>

							</div>

						</div>
						<div class="cart__payment--button">
							<button class="buttonComponent active">
								Оформить заказ
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>