<div class="cartConfirm">
	<div class="cartConfirm__container">
		<div class="container">
			<div class="cartConfirm__content">
				<div class="cartConfirm__image">
					<img src="./img/svg/icon-done.svg" class="image" width="100" height="100" alt="">
				</div>
				<div class="cartConfirm__title">
					<span>Спасибо! Ваш заказ</span><strong>№0001</strong><span>оформлен.</span>
				</div>
				<div class="cartConfirm__subtitle">
					Курьер привезет его вам в 14:45
				</div>
				<div class="cartConfirm__button">
					<button class="buttonComponent active">
						На главную
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

   