<div class="delivery">
	<div class="delivery__container">
		<div class="container">
			<div class="delivery__content">
				<div class="titleComponent">
					<h1>Доставка и оплата</h1>
				</div>
				<div class="subtitle">
					<h4>ЕДИНЫЙ ТЕЛЕФОН ДОСТАВКИ:</h4>
					<a href="tel:+7-953-380-55-33">+7-953-380-55-33</a>
				</div>
				<div class="text">
					
					<p>Доставка по Екатеринбургу производится ОТ 1000 руб, стоимость доставки составляет 200 рублей. При
						заказе свыше 3000 руб - доставка бесплатная.</p>
					<p>К сожалению мы не можем предложить доставку блюд в районы: Кольцово, Компрессорный и Химаш.
						Благодарим за понимание.</p>
					<p>Доставка работает с 10:00 до 22:00, ежедневно.
						Заказ считается принятым только после звонка оператора.</p>
					<p>Оплата принимается наличными или картой. Есть возможность оплатить курьерую.</p>
				</div>
			</div>
		</div>
	</div>
</div>