<div class="pageError">
  <div class="pageError__container">
    <div class="container">
      <div class="pageError__content">
        <div class="pageError__main">
          <svg class="" viewBox="0 0 700 269">
            <use xlink:href="img/sprite.svg#404"></use>
          </svg>
          <div class="textC">
            <p>
              Кажется что-то пошло не так. Страница, которую вы запрашиваете, не существует. Перейдите на главную и попробуйте найти необходимый раздел в меню.
            </p>
          </div>
          <a href="home.html" class="buttonComponent active">
            На главную
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
