<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__content">
        <div class="footer__up">
          <div class="footer__up--left">
            <nav class="nav-menu" title="">
              <ul>
                <li class="menu-item menu-item-active"><a href="home.html">Главная</a></li>
								<li class="menu-item"><a href="delivery.html">Доставка и оплата</a></li>
								<li class="menu-item"><a href="address.html">Адреса точек</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__up--right">
            <ul>
              <li class="menu-item"><a href="tel:8 800 2000 500">
                <svg class="icon" viewBox="0 0 22 22">
                  <use xlink:href="img/sprite.svg#icon-phone"></use>
                </svg>
                8 800 2000 500
              </a></li>
              <li class="menu-item"><a href="tel:8 800 2000 500">8 800 2000 500</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__down">
          <div class="footer__down--left">
            <span>©2014-2022 ООО Плескавица и Ко l Все торговые знаки зарегистрированы.</span>
            <a class="link" href="privacyPolicy.html">Политика конфиденциальности</a>
          </div>
          <div class="footer__down--right">
            <span href="#">Разработка сайта</span><a class="link" target="_blank" href="https://rampa.dev/">rampa</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>