<header class="header header--absolute">
  <div class="header__container">
    <div class="container">
      <div class="header__content">
        <div class="header__right">
          <a href="home.html">
            <img src="./img/logo.png" class="header-logo" alt="">
          </a>
        </div>
        <div class="header__left">
          <div class="menu">
            <nav class="nav-menu" title="">
              <ul>
                <li class="menu-item menu-item-active"><a href="home.html">Главная</a></li>
                <li class="menu-item"><a href="delivery.html">Доставка и оплата</a></li>
                <li class="menu-item"><a href="address.html">Адреса точек</a></li>
              </ul>
            </nav>
          </div>

          <div class="icons">
            <button class="btn-reset btn-icon btn-profile" data-graph-path="profile">
              <svg class="icon" width="16" height="22" viewBox="0 0 16 22">
                <use xlink:href="img/sprite.svg#icon-profile"></use>
              </svg>
            </button>
            <a href="cart.html" class="btn-reset btn-icon btn-cart">
              <i><span>4</span></i>
              <svg class="icon" width="22" height="22" viewBox="0 0 22 22">
                <use xlink:href="img/sprite.svg#icon-cart"></use>
              </svg>
            </a>
          </div>
          <div class="burger-block">
            <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
              <span class="burger__line"></span>
              <span class="burger__line"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<div class="menu--always" data-menu>
  <div class="container">
    <div class="menu__row">
      <div class="menu__icons">
        <div class="icons">
          <button class="btn-reset btn-icon btn-profile" data-graph-path="profile">
            <svg class="icon-menu" width="16" height="22" viewBox="0 0 16 22">
              <use xlink:href="img/sprite.svg#icon-profile"></use>
            </svg>
          </button>
          <a href="cart.html" class="btn-reset btn-icon btn-cart">
            <i><span>4</span></i>
            <svg class="icon-menu" width="22" height="22" viewBox="0 0 22 22">
              <use xlink:href="img/sprite.svg#icon-cart"></use>
            </svg>
          </a>
        </div>
      </div>

      <button class="btn-reset burger burger--close" aria-label="Открыть меню" aria-expanded="false" data-close>
        <span class="burger__line--close"></span>
        <span class="burger__line--close"></span>
      </button>

    </div>
    <div class="menu__list">
      <nav class="nav-menu" title="">
        <ul>
          <li class="menu-item menu-item-active"><a href="home.html">Главная</a></li>
          <li class="menu-item"><a href="delivery.html">Доставка и оплата</a></li>
          <li class="menu-item"><a href="address.html">Адреса точек</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
