<div class="profile">
	<div class="profile__container">
		<div class="container">
			<div class="profile__menu--tablet">
				<div class="dropdownLink">

					<div class="dropdown">
						<div class="dropdown__select">
							<span class="dropdown__selected">История заказов</span>
							<div class="dropdown__caret"></div>
						</div>
						<ul class="list-reset dropdown__menu">
							<li class="dropdown__item active"><a href="history.html">История заказов</a></li>
							<li class="dropdown__item"><a href="adresses.html">Мои адреса</a></li>
							<li class="dropdown__item"><a href="profileData.html">Личные данные</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="titleComponent">
				<h1>История заказов</h1>
			</div>
			<div class="profile__content">
				<div class="profile__menu">
					<nav class="nav-menu">
						<ul>
							<li class="menu-item menu-item-active"><a href="history.html">История заказов</a></li>
							<li class="menu-item"><a href="adresses.html">Мои адреса</a></li>
							<li class="menu-item"><a href="profileData.html">Личные данные</a></li>
						</ul>
					</nav>
				</div>
				<div class="profile__main border-none">
					<div class="history">
						<div class="accordion-container">
							<div class="ac">
								<div class="ac-header">
									<button type="button" class="ac-trigger">
										<div class="ac-block">
											<div class="ac-left">
												<div class="span ac-number">Заказ № 0004</div>
												<div class="ac-data">
													26.03.2023
												</div>
											</div>
											<div class="ac-right">
												<div class="span ac-price item-price"> 
													<span>1024</span><span>р</span>
												</div>
												<div class="ac-caret">
													<i class="ac-caret-icon"></i>
												</div>
											</div>
										</div>
									</button>
								</div>
								<div class="ac-panel">
									<div class="ac-box">
										<ul>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											
										</ul>
										<button class="ac-button buttonComponent active">
											Повторить
										</button>
									</div>
								</div>
							</div>
							<div class="ac">
								<div class="ac-header">
									<button type="button" class="ac-trigger">
										<div class="ac-block">
											<div class="ac-left">
												<div class="span ac-number">Заказ № 0004</div>
												<div class="ac-data">
													26.03.2023
												</div>
											</div>
											<div class="ac-right">
												<div class="span ac-price item-price"> 
													<span>1024</span><span>р</span>
												</div>
												<div class="ac-caret">
													<i class="ac-caret-icon"></i>
												</div>
											</div>
										</div>
									</button>
								</div>
								<div class="ac-panel">
									<div class="ac-box">
										<ul>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											
										</ul>
										<button class="ac-button buttonComponent active">
											Повторить
										</button>
									</div>
								</div>
							</div>
							<div class="ac">
								<div class="ac-header">
									<button type="button" class="ac-trigger">
										<div class="ac-block">
											<div class="ac-left">
												<div class="span ac-number">Заказ № 0004</div>
												<div class="ac-data">
													26.03.2023
												</div>
											</div>
											<div class="ac-right">
												<div class="span ac-price item-price"> 
													<span>1024</span><span>р</span>
												</div>
												<div class="ac-caret">
													<i class="ac-caret-icon"></i>
												</div>
											</div>
										</div>
									</button>
								</div>
								<div class="ac-panel">
									<div class="ac-box">
										<ul>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											<li><span>Плескавица со свининой (2 шт)</span><span class="item-price"><span>1024</span><span>р</span></span></li>
											
										</ul>
										<button class="ac-button buttonComponent active">
											Повторить
										</button>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>