<div class="profile">
	<div class="profile__container">
		<div class="container">
			<div class="profile__menu--tablet">
				<div class="dropdownLink">

					<div class="dropdown">
						<div id="11" class="dropdown__select">
							<span class="dropdown__selected">История заказов</span>
							<div class="dropdown__caret"></div>
						</div>
						<ul class="list-reset dropdown__menu">
							<li class="dropdown__item active"><a href="history.html">История заказов</a></li>
							<li class="dropdown__item"><a href="adresses.html">Мои адреса</a></li>
							<li class="dropdown__item"><a href="profileData.html">Личные данные</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="titleComponent">
				<h1>История заказов</h1>
			</div>
			<div class="profile__content">
				<div class="profile__menu">
					<nav class="nav-menu">
						<ul>
							<li class="menu-item menu-item-active"><a href="history.html">История заказов</a></li>
							<li class="menu-item"><a href="adresses.html">Мои адреса</a></li>
							<li class="menu-item"><a href="profileData.html">Личные данные</a></li>
						</ul>
					</nav>
				</div>
				<div class="profile__main">
					<div class="historyNo">
						<p>У вас пока нет ни одного заказа.</p>
						<a class="buttonComponent inline active" href="home.html">Каталог</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>