<div class="sectionMain">
	<div class="swiper sliderMain">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="sectionMain__container">
					<div class="sectionMain__image">
						<picture>
							<source media="(max-width: 576px)" srcset="./img/image-375-1.jpg">
							<img src="./img/image-1920-1.jpg" class="image" width="" height="" alt="">
						</picture>
					</div>
					<div class="sectionMain__fon"></div>
					<div class="sectionMain__block">
						<div class="container">
							<div class="title">
								<h4>Весеннее меню!</h4>
							</div>
							<div class="text">
								<p>Весна во Название проходит под эгидой свежести и легкости! А все это благодаря сочным
									новым весенним блюдам.</p>
							</div>
							<div class="button">
								<a href="#" class="btn-reset">Подробнее</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="sectionMain__container">
					<div class="sectionMain__image">
						<picture>
							<source media="(max-width: 576px)" srcset="./img/image-375-1.jpg">
							<img src="./img/image-1920-1.jpg" class="image" width="" height="" alt="">
						</picture>
					</div>
					<div class="sectionMain__fon"></div>
					<div class="sectionMain__block">
						<div class="container">
							<div class="title">
								<h4>Весеннее меню!</h4>
							</div>
							<div class="text">
								<p>Весна во Название проходит под эгидой свежести и легкости! А все это благодаря сочным
									новым весенним блюдам.</p>
							</div>
							<div class="button">
								<a href="#" class="btn-reset">Подробнее</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="sectionMain__container">
					<div class="sectionMain__image">
						<picture>
							<source media="(max-width: 576px)" srcset="./img/image-375-1.jpg">
							<img src="./img/image-1920-1.jpg" class="image" width="" height="" alt="">
						</picture>
					</div>
					<div class="sectionMain__fon"></div>
					<div class="sectionMain__block">
						<div class="container">
							<div class="title">
								<h4>Весеннее меню!</h4>
							</div>
							<div class="text">
								<p>Весна во Название проходит под эгидой свежести и легкости! А все это благодаря сочным
									новым весенним блюдам.</p>
							</div>
							<div class="button">
								<a href="#" class="btn-reset">Подробнее</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="sliderMain-container">
			<div class="sliderMain-block">
				<div class="sliderMain-button sliderMain-button-prev">
					<svg class=""  viewBox="0 0 10 17">
					  <use xlink:href="img/sprite.svg#icon-arrow"></use>
					</svg>
				</div>
				<div class="sliderMain-button sliderMain-button-next">
					<svg class=""  viewBox="0 0 10 17">
						<use xlink:href="img/sprite.svg#icon-arrow"></use>
					  </svg>
				</div>
			</div>
		</div>

	</div>



</div>
<div class="sectionTabs" id="triggerHeader">

	<div class="container sectionTabs__title">
		<h3 class="">Доставка Cербской кухни</h3>
	</div>

	<div class="container sectionTabs__buttons">
		<button id="all" class="btn-reset button-default button-default-active">Все</button>
		<button id="one" class="btn-reset button-default">Плескавица</button>
		<button id="two" class="btn-reset button-default">Чивапчичи</button>
		<button id="three" class="btn-reset button-default">Супы</button>
		<button id="four" class="btn-reset button-default">Напитки</button>
	</div>
	<div class="sectionTabs__block" data-tab="one">
		<div class="container title">
			<h4>Плескавица</h4>
		</div>
		<div class="container sectionTabs__blocks">
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-1.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>

						<button data-graph-path="product1"
							class="btn-reset item__button item__button--desk">Добавить</button>
						<button data-graph-path="product1" class="btn-reset item__button item__button--mobile"><svg
								class="icon" viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-2.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-3.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-4.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-1.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-5.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sectionTabs__block" data-tab="two">
		<div class="container title">
			<h4>Чивапчичи</h4>
		</div>
		<div class="container sectionTabs__blocks">
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-1.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>

						<button data-graph-path="product1"
							class="btn-reset item__button item__button--desk">Добавить</button>
						<button data-graph-path="product1" class="btn-reset item__button item__button--mobile"><svg
								class="icon" viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-2.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-3.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-420-4.jpg" class="image lozad loading" width="419" height="320" alt=""
						data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sectionTabs__block" data-tab="three">
		<div class="container title">
			<h4>Супы</h4>
		</div>
		<div class="container sectionTabs__blocks">
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-sup-420-1.jpg" class="image lozad loading" width="419" height="320"
						alt="">
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>

						<button data-graph-path="product1"
							class="btn-reset item__button item__button--desk">Добавить</button>
						<button data-graph-path="product1" class="btn-reset item__button item__button--mobile"><svg
								class="icon" viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-sup-420-2.jpg" class="image lozad loading" width="419" height="320"
						alt="" data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-sup-420-3.jpg" class="image lozad loading" width="419" height="320"
						alt="" data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-sup-420-4.jpg" class="image lozad loading" width="419" height="320"
						alt="" data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						<span>1500</span><span>грамм</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>455</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sectionTabs__block" data-tab="four">
		<div class="container title">
			<h4>Напитки</h4>
		</div>
		<div class="container sectionTabs__blocks">
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-drink-420-1.png" class="image lozad loading" width="419" height="320"
						alt="" data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Вода
					</div>
					<div class="item__weight">
						<span>0,5</span><span>л</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>70</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-drink-420-2.png" class="image lozad loading" width="419" height="320"
						alt="" data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Вода
					</div>
					<div class="item__weight">
						<span>0,5</span><span>л</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>70</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-drink-420-3.png" class="image lozad loading" width="419" height="320"
						alt="" data>
				</div>
				<div class="item__block">
					<div class="item__title">
						Вода
					</div>
					<div class="item__weight">
						<span>0,5</span><span>л</span>
					</div>
					<div class="item__row">
						<div class="item__price">
							<span>70</span><span>р</span>
						</div>
						<button class="btn-reset item__button item__button--desk">Добавить</button>
						<button class="btn-reset item__button item__button--mobile"><svg class="icon"
								viewBox="0 0 44 44">
								<use xlink:href="img/sprite.svg#icon-pay"></use>
							</svg></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="sectionQuote">
	<div class="sectionQuote__container">
		<div class="container">
			<div class="sectionQuote__content">
				<div class="sectionQuote__image">
					<img data-src="./img/image-563-1.jpg" class="image lozad loading" width="563" height="694" alt="">
				</div>
				<div class="text">
					<h3>Несколько слов от Шеф повара</h3>
					<p>Я, как главный повар, могу сказать, что чешская кухня имеет много уникальных
						и вкусных блюд. Одно из самых популярных блюд - это гуляш, который готовится
						из говядины, лука, картофеля и специй. Также очень популярным является традиционный чешский
						утопенец, который готовится из свиной колбасы, приправленной специями
						и пивом. В чешской кухне также популярны вареники с капустой, кнедлики с ветчиной
						и сыром, а также многие другие блюда с мясом и картофелем.
					</p>
					<p>
						Не забывайте о чешском пиве, которое также является одной из гордостей чешской кухни. Многие
						ингредиенты используются в чешской кухне, такие как квашеная капуста, хрен, лук, картофель и
						многое другое. Мы используем свежие и качественные продукты для приготовления наших блюд, чтобы
						создать настоящий чешский вкус
						и атмосферу.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
