<div class="graph-modal">
	<div class="graph-modal__container modal-profile" role="dialog" aria-modal="true" data-graph-target="profile">
		<button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<div class="close">
				<span></span>
				<span></span>
			</div>
		</button>
		<div class="graph-modal__content">
			<div class="tabs tabs-profile" data-tabs="tabs-profile">
				<ul class="tabs__nav">
					<li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Авторизация</button></li>
					<li><span class="separator">/</span></li>
					<li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Регистрация</button></li>

				</ul>
				<div class="tabs__content">
					<div class="tabs__panel">
						<div class="form form-login">
							<div class="form form-authorization part-1" action="">
								<div class="title">
									На указанный номер мы вышлем Вам код СМС подтверждения.
								</div>
								<ul>
									<li>
										<div class="inputComponent input-authorization">
											<input type="tel" placeholder="Телефон*">
										</div>
									</li>
								</ul>
								<button class="buttonComponent active max">Отправить</button>
							</div>
							<div class="form form-authorization part-2" action="">
								<div class="title">
									На указанный номер мы отправили вам сообщение с кодом для регистрации:
								</div>
								<ul>
									<li>
										<div class="inputComponent input-authorization">
											<input type="code" placeholder="Введите код из смс">
										</div>
									</li>
								</ul>
								<button class="buttonComponent active max">Войти</button>
							</div>
						</div>
					</div>
					<div class="tabs__panel">
						<div class="form form-register" action="">
							<div class="form form-authorization part-1" action="">
								<ul>
									<li>
										<div class="inputComponent input-authorization">
											<input type="text" name="name" placeholder="Имя">
										</div>
									</li>
									<li>
										<div class="inputComponent input-authorization">
											<input type="tel" name="tel" placeholder="Телефон*">
										</div>
									</li>
									<li>
										<div class="inputComponent input-authorization">
											<input type="text" name="email"
												placeholder="E-mail (мы будем присылать только акции)">
										</div>
									</li>
								</ul>
								<button class="buttonComponent active max">Зарегистрироваться</button>
							</div>
							<div class="form form-authorization part-2" action="">
								<div class="title">
									На указанный номер мы отправили вам сообщение с кодом для регистрации:
								</div>
								<ul>
									<li>
										<div class="inputComponent input-authorization">
											<input type="code" placeholder="Введите код из смс">
										</div>
									</li>
								</ul>
								<button class="buttonComponent active max">Войти</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="graph-modal__container modal-product" role="dialog" aria-modal="true" data-graph-target="product1">
		<button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
			<div class="close">
				<span></span>
				<span></span>
			</div>
		</button>
		<div class="graph-modal__content">
			<div class="item">
				<div class="item__image">
					<img data-src="./img/image-690-1.jpg" class="image lozad loading" width="419" height="320" alt="">
				</div>
				<div class="item__box">
					<div class="item__title">
						Плескавица со свининой
					</div>
					<div class="item__weight">
						1500 грамм
					</div>
					<div class="item__subtitle">
						СОСТАВ
					</div>
					<div class="item__text">
						<p>
							Одно из самых любимых блюд наших гостей. подается на тарелке или в виде гамбургера, по
							Вашему
							выбору. 200 грамм котлета + подгарнировка. Сочная котлета по традиционному сербскому рецепту
							пожаренная на гриле Состав: Говядина, лук, ветчина, тертый сыр, острые специи.
						</p>
					</div>
					<div class="item__row counter-container">
						<div class="priceComponent item__price counter-price">
							<span>455</span><span>р</span>
						</div>
						<div class="item__row--box">
							<div class="item__counter">
								<div class="counterComponent">
									<button class="btn-reset btn-counter minus btn-counter-minus">
										<i></i>
									</button>
									<div class="number counter-num">
										1
									</div>
									<button class="btn-reset btn-counter plus btn-counter-plus">
										<i></i>
									</button>
								</div>
							</div>
							<div class="item__button js-modal-close">
								<button class="buttonComponent active">
									Добавить
								</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>

		</div>
	</div>
</div>