<div class="delivery mb-150">
	<div class="delivery__container">
		<div class="container">
			<div class="delivery__content">
				<div class="titleComponent">
					<h1>Политика конфиденциальности</h1>
				</div>
				<div class="subtitle">
					<h4>СОГЛАШЕНИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>
				</div>
				<div class="text">
					<p>
						Настоящая Политика конфиденциальности персональных данных (далее — Политика конфиденциальности)
						действует в отношении всей информации, которую «Принимающая сторона» сайт «ИнПАД», может
						получить о «Передающей стороне» в рамках данного соглашения.
						Использование сервисов «Принимающей стороны» означает безоговорочное согласие «Передающей
						стороны» с настоящей Политикой и указанными в ней условиями обработки переданной персональной
						информации; в случае несогласия с этими условиями «Передающая сторона» должна воздержаться от
						передачи данных.
					</p>
				</div>
				<div class="subtitle">
					<h4>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h4>
				</div>
				<div class="text">
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<ol>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
					</ol>
					<ul>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
						<li>1.1. В настоящей Политике конфиденциальности используются следующие термины:</li>
					</ul>
				</div>
				<div class="subtitle">
					<h4>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h4>
				</div>
				<div class="text">
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
					<p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
				</div>
			</div>
		</div>
	</div>
</div>




