<div class="profile">
	<div class="profile__container">
		<div class="container">
			<div class="profile__menu--tablet">
				<div class="dropdownLink">

					<div class="dropdown">
						<div id="11" class="dropdown__select">
							<span class="dropdown__selected">Личные данные</span>
							<div class="dropdown__caret"></div>
						</div>
						<ul class="list-reset dropdown__menu">
							<li class="dropdown__item "><a href="history.html">История заказов</a></li>
							<li class="dropdown__item"><a href="adresses.html">Мои адреса</a></li>
							<li class="dropdown__item active"><a href="profileData.html">Личные данные</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="titleComponent">
				<h1>Личные данные</h1>
			</div>
			<div class="profile__content">
				<div class="profile__menu">
					<nav class="nav-menu">
						<ul>
							<li class="menu-item"><a href="history.html">История заказов</a></li>
							<li class="menu-item"><a href="adresses.html">Мои адреса</a></li>
							<li class="menu-item menu-item-active"><a href="profileData.html">Личные данные</a></li>
						</ul>
					</nav>
				</div>
				<div class="profile__main border-none">
					<div class="profileData">
						<ul>
							<li>
								<div class="inputComponent inputComponent--form">
									<input type="text" value="Константин" name="firstName" readonly placeholder="Имя">
									<button class="btn-reset btn-icon btn-edit">
										<svg viewBox="0 0 17 18">
											<use xlink:href="img/sprite.svg#icon-edit"></use>
										</svg>
									</button>
								</div>
							</li>
							<li>
								<div class="inputComponent inputComponent--form">
									<input type="text" value="Юров" readonly name="lastName" placeholder="Фамилия">
									<button class="btn-reset btn-icon btn-edit">
										<svg viewBox="0 0 17 18">
											<use xlink:href="img/sprite.svg#icon-edit"></use>
										</svg>
									</button>
								</div>
							</li>
							<li>
								<div class="inputComponent inputComponent--form">
									<input type="tel" value="+7 (123) 213-13-21" readonly name="tel" placeholder="Телефон">
									<button class="btn-reset btn-icon btn-edit">
										<svg viewBox="0 0 17 18">
											<use xlink:href="img/sprite.svg#icon-edit"></use>
										</svg>
									</button>
								</div>
							</li>
							<li>
								<div class="inputComponent inputComponent--form">
									<input type="date" value="Константин" readonly name="data" placeholder="дата рождения">
									<button class="btn-reset btn-icon btn-edit">
										<svg viewBox="0 0 17 18">
											<use xlink:href="img/sprite.svg#icon-edit"></use>
										</svg>
									</button>
								</div>
							</li>
							<li>
								<div class="inputComponent inputComponent--form">
									<input type="email" value="tdm96@tdm96.ru" readonly name="email" placeholder="email">
									<button class="btn-reset btn-icon btn-edit">
										<svg viewBox="0 0 17 18">
											<use xlink:href="img/sprite.svg#icon-edit"></use>
										</svg>
									</button>
								</div>
							</li>
						</ul>
						<div class="checkboxDoneComponent">
							<div class="checkbox">
								<input id="c2" class="checkbox__input" type="checkbox" name="done" checked>
								<label class="checkbox__label" for="c2">
									Хочу получать информацию о скидках и акциях
								</label>
							</div>
						</div>
						<button class="buttonComponent active" disabled>
							Применить
						</button>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>