<section class="index">
  <div class="index__container">
    <div class="index__box">
      <div class="index__cont">
        <a href="home.html" class="btn btn__index">Главная</a>
        <a href="cart.html" class="btn btn__index">Корзина и оформление заказа</a>
      </div>
      <div class="index__cont">
        <a href="cartNoAddress.html" class="btn btn__index">Корзина и оформление заказа - добавили адрес</a>
        <a href="cartConfirm.html" class="btn btn__index">Корзина и оформление заказа - Заказ оформлен</a>
      </div>
      <div class="index__cont">
        <a href="historyNo.html" class="btn btn__index">История заказов - нет заказов</a>
        <a href="history.html" class="btn btn__index">История заказов</a>
        <a href="adresses.html" class="btn btn__index">ЛК - Мои адреса</a>
      </div>
      <div class="index__cont">
        <a href="profileData.html" class="btn btn__index">ЛК - Личные данные</a>
        <a href="delivery.html" class="btn btn__index">Доставка и оплата</a>
      </div>
      <div class="index__cont">
        <a href="address.html" class="btn btn__index">Адрес точек</a>
        <!-- <a href="home.html" class="btn btn__index">Доставка и оплата</a> -->
      </div>
      <!-- <div class="index__cont">

        <a href="home2.html" class="btn btn__index">HOME 2</a>

      </div> -->
    </div>
  </div>
</section>
