:root {
  // base
  --font-family: "Aeroport", "Helvetica", sans-serif;
  --content-width: 1720px;
  --container-offset: 100px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --primary1: #fff;
  --primary2: #1c1c1c;
  --primary3: #f99d15;
  --primary4: #f3f3f3;
  --primary5: #ededed;
  --primary6: #f9f9f9;
  --primary7: #1b1918;

  // z-index
  --z-menu: 11;
  --z-header: 10;
  --z-block-main: 9;
  --z-dropdown: 5;
  --z-close-modal: 8;
  --z-slider-buttons: 8;

  // size
  --h-header-desk: 94px;
  --h-footer-desk: 98px;
}
